apiVersion: v1
kind: Service
metadata:
  name: {{ engine_name }}
  labels:
    aas-ie-service: "true"
spec:
  selector:
    app: {{ engine_name }}
  type: ClusterIP
  ports:
    - protocol: TCP
      port: {{ port if port else 8080 }}
      targetPort: {{ port if port else 8080 }}
      name: http
